.*~
.vscode/c_cpp_properties.json
.vscode/ipch/*
.vscode/launch.json
.vscode/settings.json
*.rz
*.tmp
*.z64
/.vs
021990.bin
0219D0.bin
assets/animationtable_data.bin
assets/animationtable_entries.bin
assets/font/*.bin
assets/ge007.j.118660.jfont_chardata.bin
assets/ge007.u.117880.jfont_dl.bin
assets/ge007.u.117940.jfont_chardata.bin
assets/ge007.u.123040.efont_chardata.bin
assets/ge007.u.29D160.Globalimagetable.bin
assets/ge007.u.29E560.Globalimagetable_commandblock.bin
assets/ge007.u.2A4D50.usedby7F008DE4.bin
assets/images/split/*.bin
assets/music/*.bin
assets/music/*.ctl
assets/music/*.tbl
assets/obseg/bg/*.bin
assets/obseg/chr/*.bin
assets/obseg/gun/*.bin
assets/obseg/ob__ob_end.seg
assets/obseg/prop/*.bin
assets/obseg/setup/*.bin
assets/obseg/setup/e/*.bin
assets/obseg/setup/j/*.bin
assets/obseg/setup/u/*.bin
assets/obseg/stan/*.bin
assets/obseg/text/*.bin
assets/obseg/text/e/*.bin
assets/obseg/text/j/*.bin
assets/obseg/text/u/*.bin
assets/ramrom/*.bin
build/*
data_seg
ge007.e.bin
ge007.e.elf
ge007.j.bin
ge007.j.elf
ge007.u.bin
ge007.u.elf
lib/libultra_rom.a
